/* ------------------ fonts -----------------------*/

@font-face {
  font-family: 'Monument Extended Regular';
  src: local('Monument Extended Regular'), local('MONUMENTEXTENDED-REGULAR'),
      url('./components/assets/fonts/otf/MONUMENTEXTENDED-REGULAR.OTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
      url('./components/assets/fonts/ttf/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
      url('./components/assets/fonts/ttf/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope ExtraLight'), local('Manrope-ExtraLight'),
      url('./components/assets/fonts/ttf/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
      url('./components/assets/fonts/ttf/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Medium'), local('Manrope-Medium'),
      url('./components/assets/fonts/ttf/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Regular'), local('Manrope-Regular'),
      url('./components/assets/fonts/ttf/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
      url('./components/assets/fonts/ttf/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('./components/assets/fonts/ttf/DrukWide-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* ---------- css reset / scroll settings ---------- */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html{
  scroll-behavior: smooth;
}

/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --dark: #1c1d20;
  --grey: rgba(28, 29, 32, 0.175);
  --darkgrey: rgb(180, 180, 180);
  --orange: #ff5408;
  --text: 'Manrope', sans-serif;
  --header: 'Druk Wide', sans-serif;
  --blk: #000000;
  --bgdark: #030303;
}

/* --------- scrollbar ----------- */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(221, 221, 221); 
}

::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*--------- global settings --------*/
h1, h2, h3, h4, h5, h6{
  font-family: var(--text);
  font-weight: 600;
}

h1{
  font-size: 3rem;
}

p{
  font-family: var(--text);
  font-weight: 500;
  color: var(--dark);
}

a{
  font-family: var(--text);
}

.mainBtn button:hover{
  cursor: pointer;
  outline: solid 2px white;
  color: white;
  transition: 0.5s ease;
}

.mainBtn{
  font-family: var(--text);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 800;
  outline: solid 1.5px var(--blk);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 25px;
  transition: 0.7s ease;
  text-align: center;
  -webkit-appearance: none;
}

/*------------- navbar ---------------- */
.scrollToTop{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in;
}

.scrollToTop button{
  bottom: 0;
  right: 0;
  z-index: 999999999999;
  position: fixed;
  cursor: pointer;
  margin: 2.5rem;
  background-color: rgb(141, 141, 141);
  border: none;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0.5;
  transition: 1s ease;
}

.scrollToTop svg{
  height: 30px;
}

.scrollToTop button:hover{
  background-color: white;
  opacity: 0.8;
  color: var(--blk);
  transition: 0.3s ease;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c2c2c2;
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
  font-family: var(--text);
  font-weight: 600;
  font-size: 1.1rem;
  font-size: 16px;
  z-index: 99999;
  width: 100%;
  position: fixed;
  background-color: white;
}

.navTransparent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c2c2c2;
  padding-top: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
  font-family: var(--text);
  font-weight: 600;
  font-size: 1.1rem;
  font-size: 16px;
  z-index: 99999;
  width: 100%;
  position: fixed;
  background-color: white;
}

.navColorActive{
  display: none;
}

nav button{
  background-color: var(--dark);
  border-radius: 25px;
  padding: 10px 30px 10px 30px;
  color: white;
  font-family: var(--text);
  font-weight: 500;
  font-size: 16px;
  border: none;
}

nav button:hover{
  cursor: pointer;
  background-color: white;
  color: var(--dark);
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

nav img{
  width: 80px;
}

nav img:hover{
  opacity: 0.5;
}

.menuLinksMobile{
  height: 100vh;
  width: 100%;
  background-color: white;
  top: 5rem;
  left: 0;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  display: none;
  z-index: 11;
}

.menuLinksMobile ul{
  padding-top: 5rem;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: none;
}

.menuLinksMobile a{
  color: var(--blk);
  font-size: 5rem;
}

.navLogoContainer{
  max-width: 50%;
  transform: translateY(30px);
  opacity: 0;
}

.menuItems{
  display: flex;
}

.menuContainerMobile{
  display: none;
}

.menuLinks{
  display: inline-flex;
  transform: translateY(30px);
  opacity: 0;
}

.menuContainerMobile svg{
  height: 1.8rem;
}

.menuContainerMobile svg:hover{
  cursor: pointer;
  opacity: 0.3;
  transition: 0.3s;
}

@keyframes shotup {
  0% {
    transform: translateY(300%) ;
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%) ;
    opacity: 1;
  }
}

nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

nav ul a{
  text-decoration: none;
  color: rgb(155, 155, 155);
}

nav ul a:hover{
  opacity: 0.2;
  transition: 0.3s ease;
}

.page{
  font-family: var(--text);
  background-color: var(--bgdark);
  padding-left: 5rem;
  padding-right: 5rem;
  color: white;
}

.active {
  color: var(--dark);
}

/* ------------------- landingpage ------------------------------------*/
.landingPage h3{
  font-size: 1.8rem;
}

.landingPage{
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: white;
  height: 110vh;
  z-index: -2;
}

.landingImage{
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(100px);
}

.landingImage img{
  height: 80%;
  border-radius: 40px;
}

.landingContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

.landingBoxUpper h4{
  color: var(--blk);
  font-size: 1.2rem;
  font-weight: 500;
}

.landingText{
  max-width: 50ch;
}

.landingBoxUpper p, a{
  text-decoration: none;
  font-size: 1rem;
  color: var(--darkgrey);
}

.landingBoxUpper p, a:hover{
  opacity: 0.5;
  transition: 0.5s;
}

.landingCTA{
  display: flex;
  align-items: center;
  padding-top: 3rem;
  gap: 0.8rem;
}

.landingCTA svg{
  color: var(--darkgrey);
  height: 1rem;
}

.landingBoxUpper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transform: translateY(50px);
  opacity: 0;
  padding-left: 5rem;
  padding-right: 5rem;
}

.landingBoxUpper img{
  border-radius: 40px;
  width: 100%;
  height: auto;
}

.marqueeLanding{
  color: var(--blk);
  transform: translateY(100px);
  opacity: 0;
  z-index: 99;
}

.marqueeLanding img{
  color: white;
}


/* --------------------- about me teaser ----------------------*/
.aboutMeTeaser{
  background-color: var(--bgdark);
  color: white;
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 12rem;
}

.aboutMeTeaserHeader{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transform: translateY(100px);
  opacity: 0;
}

.aboutMeTeaserLower{
  transform: translateY(100px);
  opacity: 0;
}

.aboutMeTeaser svg{
  height: 0.8rem;
  padding-right: 0.5rem;
}

.aboutMeTeaser p{
  color: var(--darkgrey);
  font-size: 1.2rem;
  line-height: 1.66;
  font-weight: 300;
  max-width: 40ch;
}

.aboutMeTeaser h4{
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.45;
  max-width: 40ch;
}

/* ------------------- selectedWorks ---------------- */
.sectionWide{
  padding-bottom: 12rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.selectedWorks{
  background-color: var(--bgdark);
  color: white;
}

.selectedWorksGrid{
  transform: translateY(150px);
  opacity: 0;
}

.selectedButtons button:focus{
  outline: solid 2px white;
  color: white;
  transition: 0.5s ease;
}

.selectedButtons{
  font-family: var(--text);
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.selectedHeader{
  display: flex;
  justify-content: space-between;
  transform: translateY(50px);
  opacity: 0;
  padding-bottom: 0rem;
}

.selectedHeader a{
  display: flex;
  justify-self: start;
  align-items: center;
  font-size: 2rem;
}

.selectedHeader svg{
  height: 2rem;
  padding-right: 0.5rem;
}

.selectedButtons button:hover{
  cursor: pointer;
  outline: solid 2px white;
  color: white;
  transition: 0.5s ease;
}

.selectedButtons button{
  color: rgb(104, 104, 104);
  font-size: 1rem;
  font-weight: 400;
  outline: solid 2px rgb(104, 104, 104);
  background-color: var(--bgdark);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 25px;
  transition: 0.7s ease;
  -webkit-appearance: none;
}

/*--------------------- footer ---------------------*/
footer{
  padding-top: 12rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
  background-color: var(--bgdark);
  color: white;
}

.footerRight{
  display: flex;
  width: 40%;
  justify-content: space-between;
  transform: translateY(100px);
  opacity: 0;
}

.footerTop{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.footerBottom{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.footerBottom p{
  color: var(--darkgrey);
}

footer h2{
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  text-underline-offset: 0.8rem;
}

footer h3{
  font-weight: 800;
  padding-bottom: 1.5rem;
}

.footerLinks{
  font-family: var(--text);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style-type: none;
  color: var(--darkgrey);
}

.footerCTA{
  transform: translateY(100px);
  opacity: 0;
}

.footerCTA svg{
  height: 3rem;
  color: white;
}

.footerCTA a{
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.66;
  text-underline-offset: 0.8rem;
  text-decoration: underline;
}

.footerLinks a{
  color: var(--darkgrey);
  line-height: 1.66;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footerLinks a:hover{
  opacity: 0.5;
  transition: 0.3s ease;
}

.stripe{
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--grey);
}

.stripe2{
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--blk);
}

.stripe3{
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--darkgrey);
}

/* --------------- all project pages ---------------*/
.allProjectsPage{
  padding-top: 15rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 10rem;
}

.allProjectsPage h1{
  font-family: var(--header);
  font-size: 3.8rem;
  max-width: 15ch;
  text-align: center;
  transform: translateY(30px);
  opacity: 0;
}

.allProjectsPage p{
  max-width: 75ch;
  font-size: 20px;
  transform: translateY(30px);
  opacity: 0;
}

.allProjectsPageHeader{
  text-align: center;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-bottom: 8rem;
}

.goBackButton{
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goBackButton a{
  font-size: 1.2rem;
  color: var(--blk);
}

.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  transform: translateY(120px);
  opacity: 0;
}

.projectItem{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
  padding-bottom: 3rem;
}

.projectItemText h2{
  font-size: 1.5rem;
  font-weight: 800;
}

.projectItemText h3{
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(107, 107, 107);
}

.projectItemText p{
  font-size: 1.1rem;
}

.projectItemText{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.projectItem:hover{
  cursor: pointer;
}

.projectItem img{
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.projectItem img:hover{
  opacity: 0.5;
  transition: 1s ease-in-out;
}

.projectItemDate{
  display: flex;
  justify-content: space-between;
}

/* -------------- project pages -------------------*/
.projectPageBoxLeft{
  width: 25%;
}

.projectPageBoxRight{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.projectPage h2{
  font-family: var(--header);
  font-size: 3.8rem;
  margin-top: -16px;
}

.projectPage h4{
  font-family: var(--header);
}

.projectPageBoxRightLower{
  display: flex;
  justify-content: space-between;
}

.projectPage p{
  font-family: var(--text);
  font-weight: 500;
  font-size: 1.1rem;
}

.projectPage h6{
  font-weight: bolder;
  font-size: 1.1rem;
}

.ppDetails{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectPageHeader{
  display: flex;
  justify-content: center;
  padding-left: 13rem;
  padding-right: 13rem;
  padding-top: 15rem;
  opacity: 0;
}

.projectHeaderPic{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 8rem;
  padding-bottom: 9rem;
}

.projectHeaderPic img{
  border-radius: 40px;
  width: 100%;
}

.projectIntro{
  padding-left: 20rem;
  padding-right: 20rem;
  padding-bottom: 9rem;
}

.projectIntro p{
  padding-top: 1.5rem;
  line-height: 1.66;
}


.projectIntro li{
  padding-top: 1.5rem;
  line-height: 1.66;
  font-weight: 500;
  font-family: var(--text);
  font-size: 1.1rem;
  color: var(--dark);
}

.projectIntro a{
  font-family: var(--text);
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--blk);
  text-underline-offset: 0.2rem;
}

.projectEmbed{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 9rem;
}

.projectEmbed video{
  max-height: 750px;
}

.projectGallery{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.projectGallery img{
  width: 100%;
}

.sectionImage img{
  width: 100%;
  border-radius: 25px;
}

.sectionImage{
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 9rem;
}

.sectionGrid{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.downloads{
  display: flex;
  flex-wrap: wrap;
  line-height: 3;
  gap: 1rem;
}

.sectionImage video{
  width: 100%;
  border-radius: 40px;
}

.downloads a{
  text-decoration: none;
  color: var(--blk);
  font-size: 1rem;
  font-weight: 700;
  outline: solid 2px rgb(104, 104, 104);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 25px;
}

.sectionGrid img{
  max-width: 23%;
}

/* ------------- testimonials ------------------- */
.testimonials2{
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  background-color: var(--bgdark);
  padding-bottom: 12rem;
}

.testimonials2 i{
  fill: white;
  color: white;
}

.testimonialsHeader a{
  font-family: var(--text);
  font-size: 1.2rem;
  text-underline-offset: 0.4rem;
  color: var(--darkgrey);
}

.testimonialsHeader h2{
  font-weight: 800;
}

.testimonialsHeader{
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
}

.testimonialsHeaderText{
  transform: translateY(100px);
  opacity: 0;
}

.testimonialsHeaderLink:hover{
  opacity: 0.5;
}

.testimonialsLink{
  transform: translateY(30px);
  opacity: 0;
}

.testimonialsHeaderLink{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.testimonialsHeaderLink svg{
  height: 1.2rem;
}

.trigger{
  opacity: 0;
}

.testimonialsHeader span{
  font-weight: 400;
}

.logoRow{
  display: flex;
  width: 100%;
  gap: 5rem;
  padding-left: 5rem;
}

.singleLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
  border: solid 0.5px rgb(146, 146, 146);
}

.singleLogoInner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.logoRow img{
  height: 100%;
  width: 100%;
}

/* ------------------ about me page --------------------------- */
.aboutPage{
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
  line-height: 1.66;
  width: 100%;
}

.aboutImage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translateY(50px);
}

.aboutPageHeaderBox{
  opacity: 0;
  padding-bottom: 1rem;
}

.aboutPageHeaderLinks{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.aboutImage img{
  border-radius: 40px;
  max-width: 30%;
}

.aboutMeImage{
  max-width: 100%;
}

.aboutMeImage img{
  border-radius: 40px;
  width: 100%;
}

.aboutSkills{
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.aboutPage h2{
  font-size: 2rem;
  font-family: var(--header);
}

.skillsetBox{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
}

.skillsetItem{
  display: flex;
  flex-direction: column;
  line-height: 1.66;
}

.aboutPage h3{
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
  font-weight: 800;
}

.aboutPageHeader{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding-bottom: 10rem;
}

.aboutPageHeaderBox img{
  height: 2.5rem;
  margin-right: 1rem;
  animation: spin 3s linear infinite;
}

.aboutPageHeaderBox p{
  text-indent: 20rem;
  font-size: 3.8rem;
  line-height: 1.66;
}

.aboutExperience{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.aboutExperience h2{
  padding-bottom: 2rem;
  font-size: 2rem;
}

.experienceRowContainer{
  display: flex;
  justify-content: space-between;
}

.experienceCol{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experienceRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.experienceRow h4{
  font-size: 1.2rem;
  font-weight: 800;
}

.aboutMe{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.aboutMe p{
  max-width: 50%;
  font-size: 1.4rem;
}

.aboutMe h3{
  font-family: var(--header);
  font-size: 2rem;
}

/* ------------------- big text marquee component ---------------------*/
.bigTextContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-right: 3rem;
}

.bigTextContainer img{
  height: 3rem;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from { 
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.bigTextContainer h1{
  font-size: 13rem;
  font-family: var(--header);
  font-weight: 400;
  letter-spacing: -0.2rem;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--blk);
}

/* ------------------ fetch from category --------------------- /*
/* Components: CategoryFetchPost.js - ProjectItemCategory.js */
.projectItemCategory{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 48%;
  padding-bottom: 3rem;
  opacity: 0;
}

.categoryGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.projectItemCategory img{
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.categoryImageContainer{
  display: inline-block;
  overflow: hidden;  
}

.projectItemCategory:hover{
  cursor: pointer;
}

.projectItemCategory h2{
  font-size: 1.6rem;
  font-weight: 800;
  font-family: var(--text);
}

.projectItemCategory h3{
  font-family: var(--text);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--darkgrey);
}

.categoryTeaser h3{
  font-size: 1rem;
}

.projectItemText p{
  font-size: 1.1rem;
}

.projectItemText{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.projectItem:hover{
  cursor: pointer;
}

.projectItemDate{
  display: flex;
  justify-content: space-between;
}

/* -------------- hire me landingpage --------------- */
.hireMeBox{
  padding-bottom: 1rem;
}

.hireMeBox img{
  height: 2.5rem;
  margin-right: 1rem;
  animation: spin 3s linear infinite;
}

.hireMeLinks{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.hireMe{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--bgdark);
}

.hireMeBox p{
  text-indent: 20rem;
  font-size: 3.8rem;
  line-height: 1.66;
  color: white;
  font-weight: 300;
}

.hireMeLinks a{
  border: solid 2px white;
  color: white;
}

/* RESPONSIVE BREAKPOINTS */
@media only screen and (max-width: 1600px) {
  nav{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* --------------------- LANDINGPAGE ---------------------- */
  .landingPage{
    padding-top: 8rem;
    padding-bottom: 2rem;
    height: 100vh;
  }
  
  .landingImage{
    padding-top: 8rem;
  }
  
  .landingBoxUpper{
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* HIRE ME */
  .hireMe{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}

@media only screen and (max-width: 1280px) {
  nav{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* --------------------- LANDINGPAGE ---------------------- */
  .landingPage{
    padding-top: 8rem;
    padding-bottom: 2rem;
    height: 100vh;
  }
  
  .landingImage{
    padding-top: 10rem;
  }
  
  .landingBoxUpper{
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* --------------------- LANDINGPAGE ---------------------- */
  .landingPage{
    padding-top: 8rem;
    padding-bottom: 5rem;
    height: 100vh;
  }
  
  .landingImage{
    padding-top: 18rem;
  }
  
  .landingBoxUpper{
    flex-direction: column-reverse;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* --------------------- about me teaser ----------------------*/
  .aboutMeTeaser{
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }

  .aboutMeTeaserHeader{
    gap: 2rem;
  }

  .aboutMeTeaser p{
    max-width: 50%;
  }

  /* ------------------- selectedWorks ---------------- */
  .sectionWide{
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .selectedButtons{
    flex-wrap: wrap;
  }

  .selectedHeader{
    flex-direction: column-reverse;
  }

  .selectedHeader a{
    padding-bottom: 2rem;
  }

  /* ----------------- CATEGORY FETCH ---------------------*/
  .projectItemCategory{
    max-width: 100%;
  }

  /* --------------- TESTIMONIALS --------------------------*/
  .testimonials2{
    padding-bottom: 8rem;
    gap: 8rem;
  }
  
  .testimonialsHeader{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .testimonialsHeaderLink{
    justify-content: flex-start;
  }

  /* --------------- FOOTER ------------------------ */
  footer{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .footerRight{
    width: 100%;
  }
  
  .footerTop{
    gap: 5rem;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  
  footer h2{
    font-size: 2.5rem;
  }
  
  .footerCTA svg{
    height: 2.5rem;
  }
  
  .footerCTA a{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
  }

  /* ---------------- ALL PROJECTS --------------- */
  .allProjectsPage{
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
  }
  
  .allProjectsPage h1{
    font-size: 3rem;
  }
  
  .allProjectsPage p{
    max-width: 100%;
    font-size: 20px;
  }
  
  .allProjectsPageHeader{
    padding-bottom: 6rem;
  }
  
  .projectItem{
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
  }
  
  .projectItemText h2{
    font-size: 1.8rem;
  }
  
  .projectItemText h3{
    font-size: 1.8rem;
  }

  /* ----------------- SINGLE PROJECT ---------------- */
  .projectPageBoxLeft{
    width: 100%;
  }
  
  .projectPageBoxRight{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .projectPageBoxRightLower{
    justify-content: space-between;
    gap: 4rem;
  }
  
  .projectPage h2{
    font-size: 3rem;
  }
  
  .projectPageHeader{
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
  }
  
  .projectHeaderPic{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
  }
  
  .projectHeaderPic img{
    border-radius: 25px;
  }
  
  .projectIntro{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 9rem;
  }
  
  .projectEmbed{
    padding-bottom: 6rem;
  }
  
  .projectEmbed video{
    max-width: 100%;
  }
  
  .sectionImage{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }

  .sectionGrid{
    flex-direction: column;
    gap: 2rem;
  }
  
  .downloads{
    flex-wrap: wrap;
    gap: 1rem;
  }

  .downloads a{
    display: inline-block;
  }
  
  .sectionGrid img{
    max-width: 100%;
  }

  /* ------------------- about me page -------------------- */
  .aboutPage{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .aboutImage img{
    border-radius: 25px;
    max-width: 80%;
  }
  
  .aboutMeImage img{
    border-radius: 25px;
  }
  
  .aboutSkills{
    flex-direction: column;
  }

  .skillsetBox{
    width: 100%;
  }
  
  .aboutPageHeaderBox img{
    height: 2rem;
    margin-right: 1rem;
    animation: spin 3s linear infinite;
  }
  
  .aboutPageHeaderBox p{
    text-indent: 5rem;
    font-size: 3rem;
    line-height: 1.66;
  }
  
  .experienceCol{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .experienceRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  
  .aboutMe{
    flex-direction: column;
    padding-bottom: 8rem;
  }
  
  .aboutMe p{
    max-width: 100%;
  }
  
  .aboutMe h3{
    font-family: var(--header);
    font-size: 2rem;
  }

  /* HIRE ME */
  .hireMe{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}

@media screen and (max-width: 960px) {
  nav{
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--blk);
  }

  .menuContainerMobile{
    display: flex;
  }

  .menuLinksMobile{
    display: flex;
  }
  
  .menuLinks{
    display: none;
  }

  /* --------------------- LANDINGPAGE ---------------------- */
  .landingPage{
    padding-top: 8rem;
    padding-bottom: 2rem;
    height: 100vh;
  }
  
  .landingImage{
    padding-top: 23rem;
  }
  
  .landingBoxUpper{
    flex-direction: column-reverse;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* --------------------- LANDINGPAGE ---------------------- */
  .landingPage{
    padding-top: 8rem;
    padding-bottom: 5rem;
    height: 100vh;
  }
  
  .landingImage{
    padding-top: 23rem;
  }
  
  .landingBoxUpper{
    flex-direction: column-reverse;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* --------------------- about me teaser ----------------------*/
  .aboutMeTeaser{
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }

  .aboutMeTeaserHeader{
    gap: 2rem;
  }

  .aboutMeTeaser p{
    max-width: 100%;
  }

  /* ------------------- selectedWorks ---------------- */
  .sectionWide{
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .selectedButtons{
    flex-wrap: wrap;
  }

  .selectedHeader{
    flex-direction: column-reverse;
  }

  .selectedHeader a{
    padding-bottom: 2rem;
  }

  /* ----------------- CATEGORY FETCH ---------------------*/
  .projectItemCategory{
    max-width: 100%;
  }

  /* --------------- TESTIMONIALS --------------------------*/
  .testimonials2{
    padding-bottom: 8rem;
    gap: 8rem;
  }
  
  .testimonialsHeader{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .testimonialsHeaderLink{
    justify-content: flex-start;
  }

  /* --------------- FOOTER ------------------------ */
  footer{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .footerRight{
    width: 100%;
  }
  
  .footerTop{
    gap: 5rem;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  
  footer h2{
    font-size: 2.5rem;
  }
  
  .footerCTA svg{
    height: 2.5rem;
  }
  
  .footerCTA a{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
  }

  /* ---------------- ALL PROJECTS --------------- */
  .allProjectsPage{
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
  }
  
  .allProjectsPage h1{
    font-size: 3rem;
  }
  
  .allProjectsPage p{
    max-width: 100%;
    font-size: 20px;
  }
  
  .allProjectsPageHeader{
    padding-bottom: 6rem;
  }
  
  .projectItem{
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
  }
  
  .projectItemText h2{
    font-size: 1.5rem;
  }
  
  .projectItemText h3{
    font-size: 1.5rem;
  }

  /* ----------------- SINGLE PROJECT ---------------- */
  .projectPageBoxLeft{
    width: 100%;
  }
  
  .projectPageBoxRight{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .projectPageBoxRightLower{
    justify-content: space-between;
    gap: 4rem;
  }
  
  .projectPage h2{
    font-size: 3rem;
  }
  
  .projectPageHeader{
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
  }
  
  .projectHeaderPic{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
  }
  
  .projectHeaderPic img{
    border-radius: 25px;
  }
  
  .projectIntro{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 9rem;
  }
  
  .projectEmbed{
    padding-bottom: 6rem;
  }
  
  .projectEmbed video{
    max-width: 100%;
  }
  
  .sectionImage{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }

  .sectionGrid{
    flex-direction: column;
    gap: 2rem;
  }
  
  .downloads{
    flex-wrap: wrap;
    gap: 1rem;
  }

  .downloads a{
    display: inline-block;
  }
  
  .sectionGrid img{
    max-width: 100%;
  }

  /* ------------------- about me page -------------------- */
  .aboutPage{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .aboutImage img{
    border-radius: 25px;
    max-width: 80%;
  }
  
  .aboutMeImage img{
    border-radius: 25px;
  }
  
  .aboutSkills{
    flex-direction: column;
  }

  .skillsetBox{
    width: 100%;
  }
  
  .aboutPageHeaderBox img{
    height: 2rem;
    margin-right: 1rem;
    animation: spin 3s linear infinite;
  }
  
  .aboutPageHeaderBox p{
    text-indent: 3rem;
    font-size: 3rem;
    line-height: 1.66;
  }
  
  .experienceCol{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .experienceRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  
  .aboutMe{
    flex-direction: column;
    padding-bottom: 8rem;
  }
  
  .aboutMe p{
    max-width: 100%;
  }
  
  .aboutMe h3{
    font-family: var(--header);
    font-size: 2rem;
  }

  /* HIRE ME */
  .hireMe{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .hireMeBox p{
    text-indent: 0rem;
  }
}

@media screen and (max-width: 600px) {
  nav{
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--blk);
  }

  .menuContainerMobile{
    display: flex;
  }

  .menuLinksMobile{
    display: flex;
  }

  .menuLinks{
    display: none;
  }

  /* --------------------- LANDINGPAGE ---------------------- */
  .landingPage{
    padding-top: 8rem;
    padding-bottom: 5rem;
    height: 113vh;
  }
  
  .landingImage{
    padding-top: 23rem;
  }
  
  .landingBoxUpper{
    flex-direction: column-reverse;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* --------------------- about me teaser ----------------------*/
  .aboutMeTeaser{
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }

  .aboutMeTeaserHeader{
    gap: 2rem;
  }

  /* ------------------- selectedWorks ---------------- */
  .sectionWide{
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .selectedButtons{
    flex-wrap: wrap;
  }

  .selectedHeader{
    flex-direction: column-reverse;
  }

  .selectedHeader a{
    padding-bottom: 2rem;
  }

  /* ----------------- CATEGORY FETCH ---------------------*/
  .projectItemCategory{
    max-width: 100%;
    opacity: 1;
  }

  /* --------------- TESTIMONIALS --------------------------*/
  .testimonials2{
    padding-bottom: 8rem;
    gap: 8rem;
  }
  
  .testimonialsHeader{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .testimonialsHeaderLink{
    justify-content: flex-start;
  }

  /* --------------- FOOTER ------------------------ */
  footer{
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .footerRight{
    gap: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .footerTop{
    gap: 5rem;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
  }

  .footerBottom p{
    font-size: 0.7rem;
  }

 
  footer h2{
    font-size: 2.5rem;
  }
  
  .footerCTA svg{
    height: 2.5rem;
  }
  
  .footerCTA a{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
  }

  /* ---------------- ALL PROJECTS --------------- */
  .allProjectsPage{
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
    flex-wrap: wrap;
  }
  
  .allProjectsPage h1{
    font-size: 2.5rem;
  }
  
  .allProjectsPage p{
    max-width: 100%;
    font-size: 15px;
  }
  
  .allProjectsPageHeader{
    padding-bottom: 6rem;
  }
  
  .projectItem{
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
  }
  
  .projectItemText h2{
    font-size: 1.2rem;
  }
  
  .projectItemText h3{
    font-size: 1.2rem;
  }

  /* ----------------- SINGLE PROJECT ---------------- */
  .projectPageBoxLeft{
    width: 100%;
  }
  
  .projectPageBoxRight{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .projectPageBoxRightLower{
    justify-content: space-between;
    gap: 4rem;
  }
  
  .projectPage h2{
    font-size: 2.5rem;
  }
  
  .projectPageHeader{
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
  }
  
  .projectHeaderPic{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
  }
  
  .projectHeaderPic img{
    border-radius: 25px;
  }
  
  .projectIntro{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 9rem;
  }
  
  .projectEmbed{
    padding-bottom: 6rem;
  }
  
  .projectEmbed video{
    max-width: 100%;
  }
  
  .sectionImage{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }

  .sectionGrid{
    flex-direction: column;
    gap: 2rem;
  }
  
  .downloads{
    flex-wrap: wrap;
    gap: 1rem;
  }

  .downloads a{
    display: inline-block;
  }
  
  .sectionGrid img{
    max-width: 100%;
  }

  /* ------------------- about me page -------------------- */
  .aboutPage{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .aboutImage img{
    border-radius: 25px;
    max-width: 80%;
  }
  
  .aboutMeImage img{
    border-radius: 25px;
  }
  
  .aboutSkills{
    flex-direction: column;
  }

  .skillsetBox{
    width: 100%;
  }
  
  .aboutPageHeaderBox img{
    height: 1.5rem;
    margin-right: 1rem;
    animation: spin 3s linear infinite;
  }
  
  .aboutPageHeaderBox p{
    text-indent: 0rem;
    font-size: 2rem;
    line-height: 1.66;
  }
  
  .experienceCol{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .experienceRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  
  .aboutMe{
    flex-direction: column;
    padding-bottom: 8rem;
  }
  
  .aboutMe p{
    max-width: 100%;
  }
  
  .aboutMe h3{
    font-family: var(--header);
    font-size: 2rem;
  }

  /* HIRE ME */
  .hireMe{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .hireMeBox p{
    text-indent: 0rem;
  }
}



